body{
    font-family: sans-serif;
    background-color:#9CD5FF;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    text-align: center;
    min-height: 100vh;
    margin: 0;
}
.sticky-header {
    position: fixed;   
    top: 0;
    left: 0;
    width: 100%;
    background-color: #9CD5FF; 
    padding: 15px 0;
    z-index: 1000;     
    text-align: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1); 
}
.main-title {
    margin: 0;
    color: #1c1c1e;
    font-size: 2.2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.container{
    background-color: white;
    padding: 30px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
}
.group{
    margin-bottom: 25px;
}
label{
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    color: #555;
    margin-bottom: 10px;
}
input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 1.5rem;
    box-sizing: border-box;
    margin-bottom: 10px;
    text-align: center;
}
input[type="text"]{
    width: 100%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 1.5rem;
    box-sizing: border-box;
    margin-bottom: 10px;
    text-align: center;
}
input[type="range"] {
    width: 100%;
    accent-color: #4A90E2; 
    cursor: pointer;
}
.wrapper{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.labels{
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
    margin-top: 1px;
}
.labels span{
    font-size: 0.8rem;
    color: #888;
    position: relative;
}
button{
    width: 50%;
    text-align: center;
    justify-content: center;
    font-size: 1.5rem;
    border: none;
    padding: 10px 15px;
    background-color: #1C1C1E;
    color: white;
    cursor: pointer;
}
button:hover{
    background-color: #3A3A3C;
}
button:active{
    transform: scale(0.95);
}